packaging_format = 2

id = "yourls"
name = "Yourls"
description.en = "URL shortening service"
description.fr = "Service de raccourcisseur d'URL"

version = "1.10.3~ynh2"

maintainers = []

[upstream]
license = "MIT"
website = "https://yourls.org/"
demo = "https://yourls.org/cookie+"
admindoc = "https://docs.yourls.org/"
code = "https://github.com/YOURLS/YOURLS"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "150M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/yourls"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["fr_FR", "en_US"]
    default = "fr_FR"

[resources]

    [resources.sources]

        [resources.sources.main]
        url = "https://github.com/YOURLS/YOURLS/archive/refs/tags/1.10.3.tar.gz"
        sha256 = "71749ae9b3950d6a7c043b1240aba8645e912c3c22eac5abfb6ae3cc576ff740"
        autoupdate.strategy = "latest_github_release"

        [resources.sources.fr]
        url = "https://github.com/ozh/YOURLS-fr_FR/archive/refs/tags/1.10.tar.gz"
        sha256 = "1f68b7aa6322947e1ee3383d27555d99dcb72f3fa1a004234554c00ae2b8a80e"
        autoupdate.strategy = "latest_github_release"
        autoupdate.upstream = "https://github.com/ozh/YOURLS-fr_FR/"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"
    admin.url = "/admin"
    admin.show_tile = false
    admin.allowed = "admins"

    [resources.apt]
    packages = "mariadb-server, php8.4-gmp, php8.4-bcmath, php8.4-curl, php8.4-mysql, php8.4-zip, php8.4-gd, php8.4-mbstring, php8.4-xml"

    [resources.database]
    type = "mysql"
